#one {
  background: rgb(129, 239, 133);
}

#two {
    background: rgb(218, 236, 126);
}

#three {
    background: rgb(74, 196, 237);
}

.test-container {
    height: 200px;
    width: 200px;
    margin: auto;
}

/* .test-container span {
    font-weight: 700;
    display: flex;
    justify-content: center;
} */

#one span,
#two span,
#three span {
    font-weight: 700;
    display: flex;
    justify-content: center;
}


